.leftSection {
    display: flex;
	align-items: center;
    justify-content: space-around;  
    height: 250px;
    width: 49%; 
    float: left;
    border: 1px solid black;
    text-decoration: none;
    color: black;

}

.rightSection {
    display: flex;
	align-items: center;
    justify-content: space-around;  
    height: 250px;
    width: 49%; 
    float: right;
    text-decoration: none;
    color: black;
    border: 1px solid black;


}

